In [42]:
import pandas as pd
import numpy as np

## Combine All Crime Data 

FDA data set is subset of Crime Stats

In [43]:
file_path = "../Dataset/Crime_Stats/"
sa_crime_suffix_file_name = "-data_sa_crime.csv"
sa_fda_suffix_file_name = "-data_sa_fda.csv"

prefix_file_name_list = ["2013-14", "2014-15", "2015-16", "2016-17",
                         "2017-18", "2018-19", "2019-20", "2020-21",
                         "2021-22", "2022-23", "2024-25"]

sa_crime_df = pd.DataFrame()
sa_fda_df = pd.DataFrame()
for prefix_fn in prefix_file_name_list:
    crime_file_name = file_path+prefix_fn+sa_crime_suffix_file_name
    crime_df = pd.read_csv(crime_file_name, encoding='utf-8')
    sa_crime_df = pd.concat([sa_crime_df, crime_df])

    fda_file_name = file_path+prefix_fn+sa_fda_suffix_file_name
    fda_df = pd.read_csv(fda_file_name, encoding='utf-8')
    sa_fda_df = pd.concat([sa_fda_df, fda_df])

In [44]:
sa_crime_df.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2013,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
1,1/07/2013,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,2.0
2,1/07/2013,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2013,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
4,1/07/2013,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,3.0

## Initial Clean Crime Stats

In [45]:
# Original Columns Name
# ['Reported Date', 'Suburb - Incident', 'Postcode - Incident',
# 'Offence Level 1 Description', 'Offence Level 2 Description',
# 'Offence Level 3 Description', 'Offence count']

# Rename Column
sa_crime_df.columns = ['report_date', 'suburb', 'postcode', 
                       'offence_lv1', 'offence_lv2', 'offence_lv3',
                       'offence_count']
print(f"Total Crime data record before remove Null: {len(sa_crime_df)}")
# drop null value
sa_crime_df.dropna(inplace=True)
print(f"Total Crime data record after remove Null: {len(sa_crime_df)}")
sa_crime_df.info()

Total Crime data record before remove Null: 989718
Total Crime data record after remove Null: 984574
<class 'pandas.core.frame.DataFrame'>
Index: 984574 entries, 0 to 72633
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   report_date    984574 non-null  object
 1   suburb         984574 non-null  object
 2   postcode       984574 non-null  object
 3   offence_lv1    984574 non-null  object
 4   offence_lv2    984574 non-null  object
 5   offence_lv3    984574 non-null  object
 6   offence_count  984574 non-null  float64
dtypes: float64(1), object(6)
memory usage: 60.1+ MB

In [30]:
# sa_crime_df.dropna(inplace=True)
# sa_crime_df['Reported Date'] = sa_crime_df['Reported Date'].apply(lambda x: "0" + x if len(x)<10 else x)
# sa_crime_df['Date'] = pd.to_datetime(sa_crime_df['Reported Date'], format='%d/%m/%Y')
# sa_crime_df.set_index(sa_crime_df['Date'].dt.date, inplace=True)
# sa_crime_df.sort_index(inplace=True)

# print("Total Record of SA Crime data: ", len(sa_crime_df))
# print("Min Reported Date: ", sa_crime_df.index.min())
# print("Max Reported Date: ", sa_crime_df.index.max())

# sa_crime_df.head()

In [32]:
sa_crime_df.to_csv("../Dataset/Clean/crime_stats_2013_2025.csv", encoding='utf-8', index=False)

## Get & Save Crime Type

In [31]:
sa_crime_type = sa_crime_df.groupby(['offence_lv1', 'offence_lv2', 'offence_lv3'])['offence_count'].sum()
sa_crime_type = sa_crime_type.reset_index()
sa_crime_type.head()

,offence_lv1,offence_lv2,offence_lv3,offence_count
0,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,30319.0
1,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,"Other fraud, deception and related offences",6774.0
2,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,20689.0
3,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,200236.0
4,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Property damage by fire or explosion,14593.0

In [19]:
sa_crime_type.to_csv("../Dataset/Clean/crime_type.csv", encoding='utf-8', index=False)

In [ ]:
# def get_quarter(month):
#     m = int(month)
#     quarter = None
#     if m in (7,8,9):
#         quarter = "Q1"
#     elif m in (10,11,12):
#         quarter = "Q2"
#     elif m in (1,2,3):
#         quarter = "Q3"
#     elif m in (4,5,6):
#         quarter = "Q4"
#     return quarter

# def get_financial_year(date_str):
#     m = int(date_str[3:5])
#     y = int(date_str[6:11])
#     f_year = None
#     if m >= 7:
#         f_year = str(y) + "/" + str(y+1)
#     else:
#         f_year = str(y-1) + "/" + str(y)
#     return f_year

# sa_crime_df['Quarter'] = sa_crime_df['Date'].dt.month.apply(lambda month: get_quarter(month))
# sa_crime_df['Financial Year'] = sa_crime_df['Reported Date'].apply(lambda date_str: get_financial_year(date_str))

## Get Suburb Dictionary from Crime Stats

In [ ]:
suburb_postcode = sa_crime_df[['suburb', 'postcode']].drop_duplicates()
suburb_postcode.reset_index(inplace=True)
# suburb_postcode.drop(columns=['Date'], inplace=True)
suburb_postcode.head()

  Suburb - Incident Postcode - Incident
0    ABERFOYLE PARK                5159
1          ADELAIDE                5000
2  ADELAIDE AIRPORT                5950
3          ALBERTON                5014
4       ALBERT PARK                5014

In [11]:
suburb_postcode.to_csv("../Dataset/Clean/crime_suburb_dictionary.csv", encoding='utf-8')

## Initial Clean FDA Crime Data

In [34]:
# Original Columns
# ['Financial Quarter And Year Name - Reported', 'Postcode - Incident',
# 'Offence Level 1 Description', 'Offence Level 2 Description',
# 'Offence Level 3 Description', 'Offence Count']

sa_fda_df.columns = ['financial_quarter_and_year', 'postcode', 'offence_lv1'
                     , 'offence_lv2', 'offence_lv3', 'offence_count']
print("Total Record of FDA Crime data before remove null: ", len(sa_fda_df))
sa_fda_df.dropna(inplace=True)
print("Total Record of FDA Crime data after remove null: ", len(sa_fda_df))
sa_fda_df.head()

Total Record of FDA Crime data before remove null:  33869
Total Record of FDA Crime data after remove null:  33672

,financial_quarter_and_year,postcode,offence_lv1,offence_lv2,offence_lv3,offence_count
0,Q1-2013/2014,0872,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
1,Q1-2013/2014,0872,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,5.0
2,Q1-2013/2014,5000,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1.0
3,Q1-2013/2014,5000,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Other acts intended to cause injury,1.0
4,Q1-2013/2014,5000,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,8.0

In [37]:
sa_fda_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33672 entries, 0 to 2909
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   financial_quarter_and_year  33672 non-null  object
 1   postcode                    33672 non-null  object
 2   offence_lv1                 33672 non-null  object
 3   offence_lv2                 33672 non-null  object
 4   offence_lv3                 33672 non-null  object
 5   offence_count               33672 non-null  float64
dtypes: float64(1), object(5)
memory usage: 1.8+ MB

In [41]:
sa_fda_df.to_csv("../Dataset/Clean/fda_crime_2013_2025.csv", encoding='utf-8', index=False)

Q1 (July 1 - September 30), Q2 (October 1 - December 31), Q3 (January 1 - March 31), and Q4 (April 1 - June 30).

## Clean FDA Crime Type

In [39]:
sa_fda_crime_type = sa_fda_df.groupby(['offence_lv1', 'offence_lv2', 'offence_lv3'])['offence_count'].sum()
sa_fda_crime_type = sa_fda_crime_type.reset_index()
sa_fda_crime_type.head()

,offence_lv1,offence_lv2,offence_lv3,offence_count
0,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,180.0
1,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,"Other fraud, deception and related offences",37.0
2,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,125.0
3,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,21688.0
4,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Property damage by fire or explosion,223.0

In [40]:
sa_fda_crime_type.to_csv("../Dataset/Clean/fda_crime_type.csv", encoding='utf-8', index=False)

In [35]:
# sa_fda_df['Quarter'] = sa_fda_df['Financial Quarter And Year Name - Reported'].str[:2]
# sa_fda_df['Financial Year'] = sa_fda_df['Financial Quarter And Year Name - Reported'].str[3:]
# sa_fda_df.head()